<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Nuevo Empleado</mat-card-title>
    <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="createOwner(ownerForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="20px">

  
      <mat-card-content>

        <mat-form-field >
          <input matInput type="text" placeholder="Nombre" formControlName="nombre" id="nombre">
          <mat-hint align="end">No más de 60 caracteres.</mat-hint>
          <mat-error *ngIf="hasError('nombre', 'required')">se necesita el nombre</mat-error>
          <mat-error *ngIf="hasError('nombre', 'maxlength')">Tienes más de 60 caracteres.</mat-error>
        </mat-form-field>

        <!-- <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="edad" formControlName="edad" id="edad"
            readonly (click)="picker.open()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->

        <mat-form-field >
          <input matInput type="text" placeholder="apellido" formControlName="apellido" id="apellido">
          <mat-hint align="end">no mas de 60 caracteres.</mat-hint>
          <mat-error *ngIf="hasError('apellido', 'required')">se necesita el nombre</mat-error>
          <mat-error *ngIf="hasError('apellido', 'maxlength')">Tienes más de 60 caracteres.</mat-error>
        </mat-form-field>
        <mat-form-field >
          <input matInput type="text" placeholder="email" formControlName="email" id="email">
          <mat-hint align="end">un email valido</mat-hint>
          <mat-error *ngIf="hasError('email', 'required')">se necesita el email</mat-error>
          <mat-error *ngIf="hasError('email', 'email')">el email no valido</mat-error>
        </mat-form-field>

        <mat-form-field >
          <input matInput type="text" placeholder="telefono" formControlName="telefono" id="telefono">
          <mat-hint align="end">solo numeros</mat-hint>
          <mat-error *ngIf="hasError('telefono', 'required')">el telefono es requerido</mat-error>
          <mat-error *ngIf="hasError('telefono', 'number')">solo numeros</mat-error>
        </mat-form-field>

      </mat-card-content>
      
      
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!ownerForm.valid">Create</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>